.folder-manager {
  margin-top: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: 70%;
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  height: 40px;
}

.title-folder {
  font-size: 15px;
  font-weight: 500;
  color: #0174cb;
  display: flex;
  align-items: center;
  cursor: pointer;

  .arrow-left {
    display: flex;

    svg {
      width: 6px;
      margin-right: 10px;
    }
  }
}

.title-folder:hover span:first-child {
  color: #018EF8;
  text-decoration: underline;
}

.row-data {
  display: flex;
  align-items: center;
  cursor: default;
  filter: brightness(0.8);
}

.row-data span {
  color: #018EF8;
  text-overflow: clip;
}

.folder-data:hover {
  .row-data {
    filter: brightness(1);

    span {
      text-decoration: underline;
    }
  }

}

.icon {
  width: 16px;
  margin-right: 15px;
}

.icon-move {
  width: 45px;
  display: flex;
  justify-content: space-between;
}

.icon-back,
.icon-next {
  width: 17px;
  color: #0174cb;
}


tbody tr:hover {
  background: #e0f1ff;

  .icon-back {
    color: #018EF8;
  }
}

thead {
  background: #f8f8f8;
}

@media screen and (max-width: 700px) {
  .item-description_header {
    display: none;
  }
  .item-description_body {
    display: none;
  }
}

.grid {
  display: flex;
}

.item-grid {
  width: 60px;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.icon-grid {
  width: 100%;
}

.grid-title {
  text-align: center;
  font-weight: 500;
  font-style: normal;
}
